*{
    margin: 0;
    padding: 0;
}
ul{
    margin: 1rem 3em 3em 3em;
    background-size: 100%;
    border: 2px solid #000;
    display: flex;
    align-items: flex-end;
    margin-bottom: 0;
    
}
   
ul li{
   
    list-style-type: none;
    margin-right: 5px;
}
li:nth-child(1){
    margin-left: 5px;
}
